$main-color: #212121;
$arrow-size: 3em;
$standar-margin: 1em;

.container{
  height: 8em;
  margin: 18em 0 0 25%;
}

.arrow {
  width: 0;
  height: 0;
  margin: $standar-margin;
  float: left;
}

.left{
  @extend .arrow;
  border-left: $arrow-size solid $main-color;
  border-bottom: $arrow-size solid transparent;
  border-top: $arrow-size solid transparent;
}

.right{
  @extend .arrow;
  border-right: $arrow-size solid $main-color;
  border-bottom: $arrow-size solid transparent;
  border-top: $arrow-size solid transparent;
}

.down{
  @extend .arrow;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-bottom: $arrow-size solid $main-color;
}

.up{
  @extend .arrow;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid $main-color;
}

.pause{
  float: left;
  width: 1em;
  height: 5em;
  margin: $standar-margin;
  border-left: 1em solid $main-color;
  border-right: 1em solid $main-color;
}

.backward{@extend .right;}

.backward::after{
  @extend .right;
  content: '';
  margin-top: -3em;
  margin-left: -2em;
}

.forward{@extend .left;}

.forward::after{
  @extend .left;
  content: '';
  margin-top: -3em;
  margin-left: -1em;
}
